.headerWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 var(--x1);
  margin-right: var(--x8);
  gap: var(--x3);
}

.headerAlias {
  flex-shrink: 0;
}

.headerName {
  flex-grow: 1;
}

.expression {
  padding: 5px 7px;
}
