@import url('@csstools/normalize.css');
@import url('@blueprintjs/core/lib/css/blueprint.css');
@import url('@blueprintjs/icons/lib/css/blueprint-icons.css');
@import url('@blueprintjs/table/lib/css/table.css');
@import url('@blueprintjs/popover2/lib/css/blueprint-popover2.css');
@import url('variables.css');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--page-backgroung-color-base);
  color: var(--color-base);
  font: 13px/16px var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  /* stylelint-disable-next-line property-no-unknown */
  tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  display: table;
  min-width: var(--x80);
  max-width: 100vw;
  min-height: var(--x100);
}
